<h1 class="animated fadeIn fast mTop">Gnome Detail</h1>
<hr>
<main class="container animated fadeIn fast no-gutters">
    <div class="card">
        <figure>
            <!-- <img [src]="gnome.thumbnail" [alt]="gnome.name" class="img-thumb" width="100%"> -->
        </figure>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <div class="row mLateral">
            <div class="col-12 col-lg-6 myList-2-cols">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Age:</li>
                    <li class="list-group-item">Height:</li>
                    <li class="list-group-item">Professions:</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 myList-2-cols">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Weight:</li>
                    <li class="list-group-item">Hair color: </li>
                    <li class="list-group-item">Friends:</li>
                </ul>
            </div>
        </div>
    </div>
</main>