<header class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">


                <nav class="navbar navbar-expand-lg">
                    <a routerLinkActive="menu-active" routerLink="/" class="navbar-brand">
                        <img src="./assets/img/logo.svg" class="d-inline-block align-middle img-fluid" width="100%"
                        height="auto" alt="gnomes">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/">Gnomes Detail <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown menu-area">
                                <a class="nav-link dropdown-toggle" href="#" id="mega-two" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gnomes List
                                </a>
                                <div class="dropdown-menu mega-area" aria-labelledby="mega-two">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <h5>Limpieza base Disolvente</h5>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <h5>Limpieza base Acuosa</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>